@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* HEADER STYLE */

header {
    margin: 15px;
    position: absolute;
    left: 0;
    right: 0;
}

.logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav a {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
    color: white;
}

nav a:hover {
    color: #FFDC88;
    border-color: #FFDC88;
}

section::after {
    content: "";
    display: block;
    clear: both;
}

/* THIS USER SIGNUP PAGE SECTION - 1 ACTS AS THE BACKGROUND STYLE FOR THE HEADER */

.user-signup-page-section-1 {
    background: #232323;
    padding: 53px;
}

/* USER SIGNUP PAGE SECTION - 2 STYLE */

.user-signup-page-section-2 {
    background: #FFF6EB;
    padding: 50px 0;
}

/* FORM STYLE */

.form-container {
    margin: auto;
    max-width: 700px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

.form-container h1 {
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
}

.label {
    font-weight: 700;
}

table {
    margin: auto;
    width: 400px;
}

td {
    padding: 2px;
}

.caution-messages {
    font-size: 11px;
    font-weight: 500;
    color: #FF701F;
}

.error-messages {
    font-size: 14px;
    font-weight: 500;
    color: #D1151F;
}

textarea {
    font-family: 'Raleway';
}

input[type="text"], input[type="password"], select, textarea {
    font-size: 16px;
    width: 100%;
    padding: 3px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    border-color: #D16715;
    outline-width: thin;
    outline-style: solid;
    outline-color: #D16715;
}

/* BUTTON STYLE */

.button {
    background: #FFF6EB;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 3px 20px;
    margin: 10px 0 10px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    outline: none;
}

.button-accent {
    color: #D16715;
    border-color: #D16715;
}

.button-accent:hover {
    background: #D16715;
    color: #FFF6EB;
}

/* GENERAL CONTAINER */

.container {
    margin: auto;
    max-width: 100%;
}

/* FOOTER STYLE */

hr {
    width: 60%;
    height: 3px;
    background: #FFDC88;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bottomline {
    width: 40%;
}

footer {
    background: #232323;
    color: white;
    margin: 0;
    padding: 40px;
    padding-bottom: 5px;
}

.contact-us {
    font-size: 18px;
    font-weight: 500;
}

.contact-us span {
    display: block;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
}

.docs a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    color: white;
}

.docs a:hover {
    color: #FFDC88;
}

.copyright {
    font-size: 18px;
    font-weight: 300;
    padding-top: 10px;
}
